<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ page.title }} | Philanthropic Playlist</title>
  <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
</head>
<body>
  <nav>
    <a href="{{ '/' | relative_url }}">Home</a>
    <a href="{{ '/about.md' | relative_url }}">About</a>
    <a href="{{ '/events.md' | relative_url }}">Events</a>
    <a href="{{ '/impact.md' | relative_url }}">Impact</a>
    <a href="{{ '/team.md' | relative_url }}">Team</a>
  </nav>

  <main>
    {{ content }}
  </main>

  <footer class="contact-banner">
    <h2>Get in Touch</h2>
    <p>
      Interested in joining, performing, collaborating, or learning more about Philanthropic Playlist?
    </p>

    <div class="contact-links">
      <a href="mailto:https://tr.ee/t-r7v1qI7g">Join Our GroupMe</a>
      <a href="https://tr.ee/vzHsk8rVMf" target="_blank">Join Our Newsletter</a>
      <a href="https://tr.ee/T2Tzoa-vV5" target="_blank">Follow Us on Instagram</a>
    </div>
  </footer>
</body>
</html>
